* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 960px;
	margin: 0 auto;
}

h1 {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 46px;
	text-align: center;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-align: center;
}

h3 {
	font-family: 'Gloria Hallelujah', cursive;
	margin-left: 10px;
	font-size: 26px;
	color: #BCBBBB;
	text-align: center;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

.title {
	color: #f8f8f8;
}

.short {
	max-width: 150px;
}

.row {
	display: flex;
	margin-top: 10px;
	margin-bottom: 5px;
}

.green {
	background-color: #65bf0f;
}

body {
    text-align: center;
}

#img1 {
	 
}

.col1 {
	padding-top: 50px;
	margin: 10px;
	display: block;
}
.col-12 {
	width: 100%;
	height: auto;
}
